$small-min: 0;
$small-max: 600;
$medium-min: 601;
$medium-max: 900;
$large-min: 901;
$large-max: 1024;
$xlarge-min: 1025;
$xlarge-max: 1439;
$xxlarge-min: 1440;

.no-padding {
    padding: 0 !important;
}
.no-padding-left {
    padding-left: 0 !important;
}
.no-padding-right {
    padding-right: 0 !important;
}
.no-padding-top {
    padding-top: 0 !important;
}
.no-padding-bottom {
    padding-bottom: 0 !important;
}

.no-margin {
    margin: 0 !important;
}
.no-margin-left {
    margin-left: 0 !important;
}
.no-margin-right {
    margin-right: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}

.auto-margin {
  margin-left: auto !important;
  margin-right: auto !important;
}

$multiplier: 2px;
$multiplier-numeric: 2;
$multiplier-loop: 200;

// We need to run through each media query one at a time so that the specificity
// from small up is respected.

@for $i from 0 through $multiplier-loop {
  @media #{$small-up} {
    .small-padding-top-#{$i}x {
      padding-top: #{$i * $multiplier} !important;
    }
    .small-padding-bottom-#{$i}x {
      padding-bottom: #{$i * $multiplier} !important;
    }
    .small-margin-top-#{$i}x {
      margin-top: #{$i * $multiplier} !important;
    }
    .small-margin-bottom-#{$i}x {
      margin-bottom: #{$i * $multiplier} !important;
    }
  }
}

@for $i from 0 through $multiplier-loop {
  @media #{$medium-up} {
    .medium-padding-top-#{$i}x {
      padding-top: #{$i * $multiplier} !important;
    }
    .medium-padding-bottom-#{$i}x {
      padding-bottom: #{$i * $multiplier} !important;
    }
    .medium-margin-top-#{$i}x {
      margin-top: #{$i * $multiplier} !important;
    }
    .medium-margin-bottom-#{$i}x {
      margin-bottom: #{$i * $multiplier} !important;
    }
    .medium-margin-left-#{$i}x {
      margin-top: #{$i * $multiplier} !important;
    }
    .medium-margin-right-#{$i}x {
      margin-bottom: #{$i * $multiplier} !important;
    }
  }
}

@for $i from 0 through $multiplier-loop {
  @media #{$large-up} {
    .large-padding-top-#{$i}x {
      padding-top: #{$i * $multiplier} !important;
    }
    .large-padding-bottom-#{$i}x {
      padding-bottom: #{$i * $multiplier} !important;
    }
    .large-margin-top-#{$i}x {
      margin-top: #{$i * $multiplier} !important;
    }
    .large-margin-bottom-#{$i}x {
      margin-bottom: #{$i * $multiplier} !important;
    }
    .large-margin-left-#{$i}x {
      margin-left: #{$i * $multiplier} !important;
    }
  }
}

@for $i from 0 through $multiplier-loop {
  @media #{$xlarge-up} {
    .xlarge-padding-top-#{$i}x {
      padding-top: #{$i * $multiplier} !important;
    }
    .xlarge-padding-bottom-#{$i}x {
      padding-bottom: #{$i * $multiplier} !important;
    }
    .xlarge-margin-top-#{$i}x {
      margin-top: #{$i * $multiplier} !important;
    }
    .xlarge-margin-bottom-#{$i}x {
      margin-bottom: #{$i * $multiplier} !important;
    }


    .xlarge-padding-top-flex-#{$i}x {
      padding-top: #{ (($i * $multiplier-numeric)/$xlarge-max*100) +vw} !important;
    }
    .xlarge-padding-bottom-flex-#{$i}x {
      padding-bottom: #{ (($i * $multiplier-numeric)/$xlarge-max*100) +vw} !important;
    }
    .xlarge-margin-top-flex-#{$i}x {
      margin-top: #{ (($i * $multiplier-numeric)/$xlarge-max*100) +vw} !important;
    }
    .xlarge-margin-bottom-flex-#{$i}x {
      margin-bottom: #{ (($i * $multiplier-numeric)/$xlarge-max*100) +vw} !important;
    }
  }
}

@for $i from 0 through $multiplier-loop {
  @media #{$xxlarge-up} {
    .xxlarge-padding-top-#{$i}x {
      padding-top: #{$i * $multiplier} !important;
    }
    .xxlarge-padding-bottom-#{$i}x {
      padding-bottom: #{$i * $multiplier} !important;
    }
    .xxlarge-margin-top-#{$i}x {
      margin-top: #{$i * $multiplier} !important;
    }
    .xxlarge-margin-bottom-#{$i}x {
      margin-bottom: #{$i * $multiplier} !important;
    }
  }
}
