form{
	width:575px;
}

form h2{
	padding:30px 0 0 0;
	margin:0;
	color:#3d3d3d;
	text-align:left;
}

.form_description p{
	padding:5px 0 15px 0;
	margin:0;
}

::-webkit-input-placeholder {
   color:gray;
   padding-left:15px;
}

:-moz-placeholder { /* Firefox 18- */
   color: gray;
   padding-left:15px;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: gray;
   padding-left:15px;
}

:-ms-input-placeholder {  
   color: gray;
   padding-left:15px;
}

label{
	color:#3d3d3d;
}

input{
	padding:10px 0 15px 0;
	-webkit-appearance: none;
}

input:focus{
	border-bottom:1px white solid;
	background-color:;
}

.name, .email, .website, .textarea{
	padding: 3px 5px 3px 15px; 
	border-style: none; 
	outline:none;
	color:white;
	background-color:#3d3d3d;
}

.name, .website, .email{
	width:200px;
	height:30px;
}

.textarea{
	width:300px;
	height:65px;
	padding-top:10px;
}

button{
 color:white;
 width: 110px;
 height: 35px;
 border: none;
 margin: 0;
 padding: 0;
 background-color:#6CE867; 
}

input:-webkit-autofill, textarea:-webkit-autofill {
-webkit-box-shadow: 0 0 0 1000px #3d3d3d inset;
-webkit-text-fill-color: white;
}

button:hover{
 color: #fff;
 background-color:gray; 
}