.checkboxMargin{
    margin-bottom:30px;
    padding-left:208px;
}

#LeftSidebar{
    float:left;
    height:auto;
    width:140px;
}

#LeftSidebar span{
    display:block;
    font-family: "effra", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size:px;
    color:#3d3d3d;
    padding-top:12px;
}

#LeftSidebar span:nth-child(1){
    padding-bottom:55px;
}

#LeftSidebar span:nth-child(2){
    padding-bottom:78px;
}

#middle{
    float:left;
    height:auto;
    width:415px;
    padding: 0 20px 0 70px;
}

#middle span, #right span{
    display:block;
}

#right{
    float:left;
    height:auto;
    width:215px;
}

#speed, #legibility, #precision{
    padding-bottom:20px;
    overflow:auto;
    border-bottom: 1px solid #3d3d3d;
}

#precision{
    border:none;
}

#speed{

}

#legibility{

}

#precision{

}

.renderOne{
    text-rendering: optimizeSpeed;
    -moz-font-feature-settings: "onum" 0, "liga" 0, "dlig" 0;
    -moz-font-feature-settings: "onum=0, liga=0, dlig=0";
    -ms-font-feature-settings: "onum" 0, "liga" 0, "dlig" 0;
    -o-font-feature-settings: "onum" 0, "liga" 0, "dlig" 0;
    -webkit-font-feature-settings: "onum" 0, "liga" 0, "dlig" 0;
    font-feature-settings: "onum" 0, "liga" 0, "dlig" 0;
}

.renderTwo{
    text-rendering: optimizeLegibility;
}

.renderThree{
    text-rendering: geometricPrecision;
}

.paragraph-offset-1{
    width:650px;
    height:auto;
    margin-left:210px;
}

p.twelve{
    font-size:12px;
}

p.eighteen{
    font-size:18px;
}

p.thirtyTwo{
    font-size:32px;
    line-height:36px;
}

.line{
    padding-bottom:20px;
    margin-bottom:20px;
    border-bottom:1px solid #3d3d3d;
}

.valueName{
    font-family: "effra", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size:18px;
    color:#3d3d3d;
    display:block;
}

.checkboxes{
	padding:0 0 20px 207px;
}

h3.renderTitle{
    font-family: "effra", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size:;
    color:#6CE867;
    display:block;
}

#textImage{
    display:none;
}

#fontsmoothing{
    overflow:auto;
}

#fontsmoothing p.none{
   -webkit-font-smoothing:none !important;
}

#fontsmoothing p.subpixel{
    -webkit-font-smoothing:subpixel-antialiased !important;
}

#fontsmoothing p.antialiased{
    -webkit-font-smoothing:antialiased !important;
}

#magic h2{
	color:#3d3d3d;
	text-align:left;
	border-bottom:1px solid #6CE867;
	margin-bottom:5px;
	color:#6CE867;
}

.features h6{
	position:absolute;
	top:100px;
	left:200px;
	z-index:10;
}

/*==HEADER==*/
header{
	height:500px;
	background-color: #3d3d3d;
	background-image:url('images/new3.jpg');
	background-position:0;
	background-size:cover;
	background-repeat:no-repeat;
}

#name{
	width:455px;
	margin:0 auto;
	padding-top:203px;
}

#name h1{
	color:#6CE867;
	font-size:107px;
	line-height:85px;
}

#main{
	height:auto;
	background-color: white;
}

#content{
	width:860px;
	margin:0 auto;
	padding-top:30px;
	overflow:auto;
}

.content{
	width:860px;
	margin:0 auto;
}

#center{
	margin:0 auto;
	width:613px;
	overflow:visible;
}

#center.one{
	width:645px;
}

#center.two{
	width:599px;
}

#center.three{
	width:506px;
}

#center.four{
	width:645px;
}

#noactive{
	float:left;
	padding-right:25px;
	-moz-font-feature-settings:"liga" 0, "dlig" 0; 
	-moz-font-feature-settings:"liga=0, dlig=0"; 
	-ms-font-feature-settings:"liga" 0, "dlig" 0; 
	-o-font-feature-settings:"liga" 0, "dlig" 0; 
	-webkit-font-feature-settings:"liga" 0, "dlig" 0; 
	font-feature-settings:"liga" 0, "dlig" 0;
}

#active{
	float:left;
	-moz-font-feature-settings:"liga" 1, "dlig" 1; 
	-moz-font-feature-settings:"liga=1, dlig=1"; 
	-ms-font-feature-settings:"liga" 1, "dlig" 1; 
	-o-font-feature-settings:"liga" 1, "dlig" 1; 
	-webkit-font-feature-settings:"liga" 1, "dlig" 1; 
	font-feature-settings:"liga" 1, "dlig" 1;
}

#magic{
	width:860px;
	margin:0 auto;
	overflow:auto;
	margin-top:45px;
}

#magic:first-of-type{
	margin-top:0;
}

#links{
	float:left;
	width:140px;
	height:783px; /*Temp height to make text align*/
	margin-right:100px;
}

#links ul{
	list-style-type:none;
	margin:0;
	padding:0;
}

#links ul li{
	text-align:right;
	padding-bottom:0;
	font-size:14px;
}

#links ul li a{
	color:#3d3d3d;
	text-decoration:none;
	line-height:22px;
}

#links ul li a:hover{
	color:#6CE867;
}

#fontsmoothing p{
	width:620px;
	height:auto;
	color:#3d3d3d;
	float:left;
    padding-bottom:20px;
}

#fontsmoothing p:last-of-type{
    padding-bottom:0;
}

#fontsmoothing.name{
	color:#3d3d3d;
	font-size:px;
}

p.frac{
	padding-left:240px;
	margin-top:20px;
	font-size:45px;
	color:#6CE867;
}

p.numbers{
	padding-left:240px;
	margin-top:20px;
	font-size:45px;
	color:#6CE867;
}

footer.articles{
	padding-top:50px;
	height:225px;
	width:100%;
	background-color:#3d3d3d;
}

footer ul li a{
	color:white;
}

footer ul li a:hover{
	color:#6CE867;
}

.info p{
	color:white;
}

.list.info a{
	text-decoration:none;
	color:white;
}

button.switch{
	color: white;
	width: 110px;
	height: 35px;
	border: none;
	margin: 0;
	padding: 0;
	background-color: #6CE867;
	cursor:pointer;
}

button:focus{
	outline-color:transparent;
	outline-width:0;
	outline-style:none;
}

button:hover{
	color:white;
	background-color:#3d3d3d;
}

.fracon { -moz-font-feature-settings: "frac" 1;
-moz-font-feature-settings: "frac=1";
-ms-font-feature-settings: "frac" 1;
-o-font-feature-settings: "frac" 1;
-webkit-font-feature-settings: "frac" 1;
font-feature-settings: "frac" 1; }

.fracoff { -moz-font-feature-settings: "frac" 0;
-moz-font-feature-settings: "frac=0";
-ms-font-feature-settings: "frac" 0;
-o-font-feature-settings: "frac" 0;
-webkit-font-feature-settings: "frac" 0;
font-feature-settings: "frac" 0; }

/*==iPad MEDIA QUERIES==*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 1) {
	#something{
		text-align:;
	}
}




