*{
}

body{
	font-size:100%;
	margin:0;
	padding:0;
	-webkit-font-smoothing:subpixel-antialiased;
	text-rendering: optimizeLegibility;
}

.wrapper{
	margin:0 auto;
	width:1200px;
	overflow:auto;
}

.clear{
	clear:both;
}

.float{
	float:left;
}

.smcp{
	-moz-font-feature-settings:"smcp" 1;
	-moz-font-feature-settings:"smcp=1";
	-ms-font-feature-settings:"smcp" 1;
	-o-font-feature-settings:"smcp" 1;
	-webkit-font-feature-settings:"smcp" 1;
	font-feature-settings:"smcp" 1;
}

/*==TYPOGRAPHIC STYLES==*/
h1{
	text-transform:uppercase;
	font-size:75px;
	line-height:65px;
	text-align:left;
	color:#6CE867;
	font-family: "effra", sans-serif;
	font-weight: 700;
	font-style: normal;
	padding-top:10px;
	padding-bottom:15px;
	margin:0;
	padding:0;
}

h1.left{
	text-align:left;
	margin:0;
	padding:0;
	font-size:75px;
	line-height:60px;
}

h1.type{
	float:left;
	padding-top:275px;
	color:#3d3d3d;
	text-align:left;
	padding-left:20px;
}

h2{
	text-transform:uppercase;
	font-size:26px;
	color:white;
	text-align:center;
	font-family: "effra", sans-serif;
	font-weight: 700;
	font-style: normal;
	padding-top:68px;
	padding-bottom:5px;
	margin:0;
}

.caption h2{
	text-align:right;
	color:#3d3d3d;
	line-height:24px;
	border-bottom:1px solid #3d3d3d;
}

h2.left{
	text-align:left;
	margin:0;
	padding:0;
}

h3{
	display:none;
}

h4{
	font-size:410px;
	color:#3d3d3d;
	margin:0;
	padding:0;
	font-family: "adobe-caslon-pro", serif;
	font-weight: 400;
	font-style: normal;
	line-height:500px;
	float:left;
	display:block;
}

h5{
	font-size:410px;
	color:#3d3d3d;
	margin:0;
	padding:0;
	font-family: "adobe-caslon-pro", serif;
	font-weight: 400;
	font-style: normal;
	line-height:500px;
	float:left;
	display:block;
}

h6{
	font-size:76px;
	color:rgb(48, 199, 209);
	font-family: "effra", sans-serif;
	font-weight: 700;
	font-style: normal;
	margin:0;
	padding:0;
	line-height:63px;
	text-transform:uppercase;
}

p{
	font-size:16px;
	line-height:23px;
	color:#;
	font-family: "adobe-caslon-pro";
	font-weight: 400;
	font-style: normal;
	-moz-font-feature-settings:"onum" 1, "liga" 1, "dlig" 1;
	-moz-font-feature-settings:"onum=1, liga=1, dlig=1";
	-ms-font-feature-settings:"onum" 1, "liga" 1, "dlig" 1;
	-o-font-feature-settings:"onum" 1, "liga" 1, "dlig" 1;
	-webkit-font-feature-settings:"onum" 1, "liga" 1, "dlig" 1;
	font-feature-settings:"onum" 1, "liga" 1, "dlig" 1;
}

#links a{
	font-family: "adobe-caslon-pro";
	font-weight: 400;
	font-style: normal;
	-moz-font-feature-settings:"onum" 1, "liga" 1, "dlig" 1;
	-moz-font-feature-settings:"onum=1, liga=1, dlig=1";
	-ms-font-feature-settings:"onum" 1, "liga" 1, "dlig" 1;
	-o-font-feature-settings:"onum" 1, "liga" 1, "dlig" 1;
	-webkit-font-feature-settings:"onum" 1, "liga" 1, "dlig" 1;
	font-feature-settings:"onum" 1, "liga" 1, "dlig" 1;
}

/*==HEADER==*/
header{
	width:100%;
	margin:0 auto;
	position:relative;
}

#header.dark{
	overflow:auto;
}

#logoMargin{
	padding-top:88px;
}

#logo{
	width:430px;
	height:209px;
	margin:0 auto;
	background-image:url(images/logo.png);
}

#bolt{
	width:28px;
	margin:0 auto;
}

/*==LEFT NAVIGATION==*/
nav{
	position:absolute;
	top:214px;
	left:75px;
	z-index:200;
}

nav ul{
	padding:0;
	margin:0;
}

nav ul li{
	list-style-type:none;
	font-size:20px;
	text-transform:uppercase;
	font-size:15px;
	padding-top:10px;
	padding-bottom:10px;
}

nav ul li a{
	text-decoration:none;
	color:white;
	background-color:#6CE867;
	/*background-color:#a6ce3a;*/
	font-family: "effra",sans-serif;
	font-weight: 400;
	font-style: normal;
	padding-left:35px;
	padding-right:35px;
	padding-bottom:10px;
	padding-top:10px;
}

nav ul li a:hover{
	background-color:#3d3d3d;
	-webkit-transition: background-color 400ms ease-in;
	-moz-transition: background-color 400ms ease-in;
	-ms-transition: background-color 400ms ease-in;
	-o-transition: background-color 400ms ease-in;
	transition: background-color 400ms ease-in;
}

nav li ul{
	display:none;
	float:right;
	font-family: "effra",sans-serif;
	font-weight: 300;
	font-style: normal;
	margin-top:-28px;
}

nav li:hover ul{
	display:block;
}

nav ul li ul li a{
	background-color:#3d3d3d;
}

nav ul li ul li a:hover{
	background-color:white;
	color:#3d3d3d;
	-webkit-transition: background-color 400ms ease-in;
	-moz-transition: background-color 400ms ease-in;
	-ms-transition: background-color 400ms ease-in;
	-o-transition: background-color 400ms ease-in;
	transition: background-color 400ms ease-in;
}

/*==STRAIGHT NAVIGATION==*/
header.straight{
	width:100%;
	height:65px;
	margin:0 auto;
	background-color:#3d3d3d;
	overflow:visible;
	background-image:none;
	border-bottom: 5px solid #6CE867;
}

.straight nav{
	position: absolute;
	left: 200px;
	top: 0;
}
.straight nav ul li{
	list-style-type:none;
	font-size:20px;
	text-transform:uppercase;
	font-size:15px;
	padding-top:0;
	padding-bottom:0;
	float:left;
}

.straight nav ul li a{
	text-decoration:none;
	color:white;
	background-color:#3d3d3d;
	/*background-color:#a6ce3a;*/
	font-family: "effra",sans-serif;
	font-weight: 400;
	font-style: normal;
	width: 165px;
	display: block;
	height: 32px;
	text-align: center;
	padding: 28px 0 0 0;
}

.straight nav ul li a.active{
	background-color:#6CE867;
	color:white;
}

.straight nav ul li a:hover{
	height:37px;
	background-color:#6CE867;
	-webkit-transition: background-color 400ms ease-in;
	-moz-transition: background-color 400ms ease-in;
	-ms-transition: background-color 400ms ease-in;
	-o-transition: background-color 400ms ease-in;
	transition: background-color 400ms ease-in;
}

.straight nav li ul{
	display:none;
	padding-top:5px;
	position:relative;
	font-family: "effra",sans-serif;
	font-weight: 300;
	font-style: normal;
	margin-top:0;
}

.straight nav ul li ul.opentype, .straight nav ul li ul.articles{
	width: 355px;
	height: 115px;
	float: left;
	position: absolute;
	z-index:350;
}

.straight nav li:hover ul{
	display:block;
}

.straight nav ul li ul li a{
	background-color:rgba(61, 61, 61, 0.75);
	color:white;
	width:168px;
	height:25px;
	border-bottom:0;
}

.straight nav ul li ul li a:hover{
	height:auto;
	padding-bottom:7px;
	background-color:#6CE867;
	color:white;
	-webkit-transition: background-color 200ms ease;
	-moz-transition: background-color 200ms ease;
	-ms-transition: background-color 200ms ease;
	-o-transition: background-color 200ms ease;
	transition: background-color 200ms ease;
}

#intro{
	height:390px;
	width:100%;
	padding-bottom:50px;
	background-color:white;
}

#intro .wrapper{
	width:700px;
	margin:0 auto;
	overflow:visible !important;
}

.special{
	color:#3d3d3d;
	font-family: "adobe-caslon-pro",serif;
	font-weight: 400;
	text-align:center;
	font-style: normal;
	padding-top:37px;
	-moz-font-feature-settings:"dlig" 1, "hlig" 1, "hist" 1, "salt" 1, "ss01" 1, "ss02" 1, "ss03" 1;
	-moz-font-feature-settings:"dlig=1, hlig=1, hist=1, salt=1, ss01=1, ss02=1, ss03=1";
	-ms-font-feature-settings:"dlig" 1, "hlig" 1, "hist" 1, "salt" 1, "ss01" 1, "ss02" 1, "ss03" 1;
	-o-font-feature-settings:"dlig" 1, "hlig" 1, "hist" 1, "salt" 1, "ss01" 1, "ss02" 1, "ss03" 1;
	-webkit-font-feature-settings:"dlig" 1, "hlig" 1, "hist" 1, "salt" 1, "ss01" 1, "ss02" 1, "ss03" 1;
	font-feature-settings:"dlig" 1, "hlig" 1, "hist" 1, "salt" 1, "ss01" 1, "ss02" 1, "ss03" 1;
}

.special p{
	font-size:18px;
	line-height:25px;
}

#main{
	position:relative;
}

#main.blog{
	background-color:white;
	height:3200px;
}

#main.about{
	height:1050px;
	background-color:white;
}

#main.about p, #main.blog p{
	color:#3d3d3d;
}

#main.about a.mailto{
	color:#6CE867;
}

#main.about a.mailto:hover{
	color:#3d3d3d;
}

#beef{
	margin:0 auto;
	width:905px;
	overflow:auto;
	clear:both;
	position:relative;
	top:-100px;
}

.circle{
	width:220px;
	height:220px;
	border-radius:50%;
	background-color:#6CE867;
	/*background-color:#a6ce3a;*/
}

#col1 a, #col2 a, #col3 a{
	display:block;
	position:relative;
	/*background-color:transparent;*/
	width:220px;
	height:220px;
	border-radius:50%;
}

#col1 a:hover, #col2 a:hover, #col3 a:hover{
	-webkit-box-shadow: 0px 18px 51px -21px rgba(240,240,240,1);
	-moz-box-shadow: 0px 18px 51px -21px rgba(240,240,240,1);
	box-shadow: 0px 18px 51px -21px rgba(240,240,240,1);
	-webkit-transition: box-shadow 200ms ease-in;
	-moz-transition: box-shadow 200ms ease-in;
	-o-transition: box-shadow 200ms ease-in;
	transition: box-shadow 200ms ease-in;
}

#col1 img{
	padding-top:58px;
	padding-left:63px;
}

#col2 img{
	padding-top:68px;
	padding-left:44px;
}

#col3 img{
	padding-top:79px;
	padding-left:26px;
}

#col1, #col2, #col3{
	width:220px;
	float:left;
	padding-right:100px;
}

#col3:last-of-type{
	padding-right:0;
}

p.small{
	width:265px;
	color:white;
	line-height:20px;
	padding-top:5px;
}

#hinting{
	width:895px;
	margin:0 auto;
	overflow:auto;
	position:relative;
	top:-5px;
}

#hinting p.author{
	color:white;
	font-style:italic;
	font-size:13px;
}

#box{
	width:300px;
	height:290px;
	background-color:transparent;
	margin-right:20px;
	background-image:url('images/hint.png');
	background-size:cover;
}

#date{
	width:300px;
	margin-right:20px;
	text-align:right;
	color:#3d3d3d;
	font-family: "effra",sans-serif;
	font-weight: 300;
	font-style: normal;
}

#date p{
	font-family: "effra",sans-serif;
	font-weight: 100;
	font-style: normal;
	font-size:53px;
	line-height:44px;
	text-transform:uppercase;
	padding-top: 70px;
	padding-bottom: 0;
	margin: 0;
}

caption{
	font-style:italic;
	font-size:12px;
}

p.white{
	color:white;
	width:540px;
	font-size:16px;
	line-height:22px;
	font-weight:normal;
}

p.normal{
	color:#3d3d3d;
}

p.monthYear{
	color:#3d3d3d;
	font-size:16px;
	line-height:22px;
	font-weight:normal;
	font-style:italic;
	margin:0;
	padding-top:10px;
}

#entry{
	border-top:1px solid #3d3d3d;
	padding-top:25px;
}

#entry:first-of-type{
	border-top:none;
}

#entry a{
	text-decoration:none;
	color:#3d3d3d;
}

#entry a:hover{
	color:#6CE867;
}

footer{
	padding-top:50px;
	height:225px;
	width:860px;
	margin:0 auto;
}

footer .wrapper{
	width:880px;
	margin:0 auto;
}

footer ul{
	margin:0;
	padding:0;
}

footer ul li{
	list-style-type:none;
	font-size:10px;
	color:#bbbaba;
	padding-bottom:5px;
}

footer ul li a{
	text-decoration:none;
	text-transform:uppercase;
	color:#bbbaba;
	font-family: "effra",sans-serif;
	font-weight: 500;
	font-style: normal;
}

footer ul li a:hover{
	color:#3d3d3d;
	-webkit-transition: color 200ms ease-in;
	-moz-transition: color 200ms ease-in;
	-ms-transition: color 200ms ease-in;
	-o-transition: color 200ms ease-in;
	transition: color 200ms ease-in;
}

.list{
	width:220px;
	float:left;
}

.info{
	color:#bbbaba;
	font-size:px;
}

.list.info{
	margin-top:-2px;
}

.list.info a{
	text-decoration:none;
	color:#bbbaba;
}

.list.info a:hover{
	color:#9c9c9c;
}

.info p{
	font-size:12px;
	padding:0 0 8px 0;
	margin:0;
	font-style:normal;
	line-height:18px;
}

/*==ABOUT PAGE==*/
header.blog{
	height:500px;
	background-image:url('images/blogheader.jpg');
	background-position:0;
	background-size:cover;
	background-repeat:no-repeat;
}

header.about{
	height:500px;
	background-image:url('images/tyler.jpg');
	background-position:0;
	background-size:cover;
	background-repeat:no-repeat;
}

.articlesLogo{
	padding:13px 0 0 20px;
}

#smLogo{
	position:absolute;
	left:75px;
	top:170px;
	height:44px;
	width:200px;
	background-image:url('images/articlesLogo.png');
	background-repeat:no-repeat;
	background-color: #6CE867;
}

#name{
	width:455px;
	margin:0 auto;
	padding-top:203px;
}

#name h1{
	color:#6CE867;
	font-size:107px;
	line-height:85px;
}

#mask.about{
	float:right;
}

#about, #entry{
	width:895px;
	margin:0 auto;
	overflow:auto;
	position:relative;
	top:90px;
}

#about #box{
	width:300px;
	height:400px;
	background-color:transparent;
	margin-right:20px;
	background-image:url('images/sideblog.jpg');
	background-size:cover;
}

#overlay{
	width:300px;
	height:400px;
	background:rgba(108, 232, 103, 0.7);
      text-align:center;
   opacity:0;
   -webkit-transition: opacity .25s ease;}

#overlay h2{
	padding-top:175px;
}

#box:hover #overlay {
      opacity:1;}

#about ul{
	margin:0;
	padding:0;
}

#about ul li{
	list-style-type:none;
}

#about ul li a, #about a{
	text-decoration:none;
	color:#3d3d3d;
}

#about ul li a:hover, #about a:hover{
	color:#6CE867;
}

#less{
	height:90px;
	background-color:#6CE867;
}

#less .width{
	width:895px;
	margin: 0 auto;
	overflow: hidden;
}

.github{
	width:300px;
	margin-right:20px;
}

.github img{
	padding:26px 0 0 132px;
}

.text{
	width:575px;
}

.text h2{
	color:#3d3d3d;
	padding-top:18px;
}

.text p{
	padding:2px 0 0 0;
	margin:0;
}

footer.dark{
	padding-top:50px;
	height:225px;
	width:100%;
	background-color:#3d3d3d;
}

footer.dark a:hover{
	color:#6CE867;
}

.logoClick{
	width:151px;
	height:44px;
}

.boxLogo{
	height:44px;
	display:block;
}


/*Parsley*/
.icon-cancel-circled{
	font-size:25px;
	color:white;
	text-align:center;
	line-height: 24px;
	vertical-align: middle;
}

.parsley-error-list{
	font-size:10px;
	margin-bottom:20px;
	color:white;
	width:200px;
	height:25px;
	padding:10px;
	margin-bottom:10px;
	background-color:rgba(0,0,0,0.5);
	-webkit-transition: height 500ms ease-in;
	-moz-transition: height 500ms ease-in;
	-ms-transition: height 500ms ease-in;
	-o-transition: height 500ms ease-in;
	transition: height 500ms ease-in;
	-webkit-animation-name: shake;
	-moz-animation-name: shake;
	-o-animation-name: shake;
	animation-name: shake;
	-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}.animated.hinge{-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}@-webkit-keyframes shake {
		0%, 100% {-webkit-transform: translateX(0);}	10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
		20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);
}
